.layout-header {
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.layout-title {
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.layout-nav {
    width: 30%;
}

.layout-nav-list {
    @include ul-reset;
    @include flex-block;

    justify-content: space-between;
}

.nav-list__link {
    font-size: 20px;
    &--active {
        border-bottom: 2px #f99406 solid;
    }
}

.layout-footer {
    margin-top: auto;
}

.layout-footer-list {
    @include ul-reset;
    @include flex-block;
    justify-content: space-between;
}